# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Python included files
*.h
Lib
Scripts
__pycache__
selenium
pip-selfcheck.json
out

# node installed packages
node_modules

#generated product
dist